@import url('https://fonts.googleapis.com/css2?family=Inter:ital,wght@0,400;0,500;0,600;0,700;0,900;1,400;1,700;1,900&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --color-brand-500: #2563eb;
  --color-brand-600: #1d4ed8;
  --color-accent-400: #facc15;
  --color-accent-500: #eab308;
}

html, body {
  -webkit-tap-highlight-color: transparent;
}
